<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Moodify</title>
    </head>
    <body>
        
        <h4>Emotion: {{emotion}}</h4>
        <h3>Recommended Songs:</h3>

        {% for song in songs_list %}
            <h3>Song : <a href = "{{song.uri}}">{{song.name}}</a></h3> 
            <h4>Artist: </h4>
            {% for artist in song.artists%}
                {{artist.name}}
            {% endfor %}
                
        {% endfor %}

    </body>
</html>