{% extends "base.html" %}

{% block title %}
    Songs
{% endblock title %}

{% block content %}
    <h1>Listen to your Favourite songs according to your mood</h1>
    <ul>
        {% for song in songs_list %}
        <li>
            <h3>Song : <a href = "{{song.uri}}">{{song.name}}</a></h3> 
            <a href="{{song.preview_url}}"><button type="button">PLAY SONG</button></a>
            <h3>{{ song.album.images.0.url }}</h3>
            <h3>{{ song.preview_url }}</h3>
            <img src="{{ song.album.images.0.url }}" alt="">
            <a href="{{song.preview_url}}">Preview for song</a>
            <h4>Artist: </h4>
            {% for artist in song.artists%}
                <h5>{{artist.name}}</h5>
            {% endfor %}
        </li>
        {% endfor %}
    </ul>

{% endblock content %}